
<button type="button" class="btn btn-primary btn-lg m-3" routerLink="/addOrders">Add Order</button>



<table class="table m-5">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Order</th>
        <th scope="col">Created Date</th>
        <th scope="col">Updated Date</th>
        <th scope="col">Products</th>
        <th scope="col">Final Price</th>
        <th scope="col">Status</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="dataOrder$ | async as orders">
        @for (order of orders; track order.id) {
          <tr>
            <th scope="row">{{ order.id}}</th>
            <td>{{ order.name}}</td>
            <td>{{ order.created_at | date  }}</td>
            <td>{{ order.updated_at | date  }}</td>
            <td>
            @for (orderItem of order.OrderItem; track orderItem.id) {
              <li>{{orderItem.Product.name}} ({{orderItem.quantity}})</li>
            }
            </td>
            <td>{{ order.totalPrice }}</td>
            <td>{{ order.status}}</td>
            <td>
              @if(order.status != "Completed"){
                <button type="button" routerLink="/editOrder/{{ order.id }}" class="btn btn-warning">
                  Edit
                </button>
                <button type="button" (click)="deleteOrder(order.id)" class="btn btn-danger btn-sm m-1">Remove</button>
              }@else{
                <p>No options</p>
              }
            </td>
          </tr>
        }
      </ng-container>
    </tbody>
  </table>