<button type="button" class="btn btn-primary btn-lg m-3">Large button</button>


<table class="table">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Order</th>
        <th scope="col">Created Date</th>
        <th scope="col">Updated Date</th>
        <th scope="col">Products</th>
        <th scope="col">Final Price</th>
        <th scope="col">Status</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>
            <button type="button" class="btn btn-primary btn-sm m-1">Small button</button>
            <button type="button" class="btn btn-secondary btn-sm m-1">Small button</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>
            <button type="button" class="btn btn-primary btn-sm m-1">Small button</button>
            <button type="button" class="btn btn-secondary btn-sm m-1">Small button</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td >Larry the Bird</td>
        <td>twitter</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>
            <button type="button" class="btn btn-primary btn-sm m-1">Small button</button>
            <button type="button" class="btn btn-secondary btn-sm m-1">Small button</button>
        </td>
      </tr>
    </tbody>
  </table>